In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests 
import os

import json
#from config import api_key



# Import API key
from api_keys import g_key
#ajayakv-rest-countries-v1.p.rapidapi.com.configure(api_key=rapid_api_key)

In [3]:
url = "https://people.googleapis.com/$discovery/rest?version=v1"
response = requests.get(url)
print(response.url)

https://people.googleapis.com/$discovery/rest?version=v1

In [6]:
#Base Population DataFrame from Census API
pop_data = response.json()
#print(json.dumps(pop_data, indent=4, sort_keys=True))
pop_df = pd.DataFrame((pop_data), columns=("Name","id"))
pop_df = pop_df.drop(0).reset_index(drop=True)
#pop_df["County"] = pop_df["County"].str.split(',',expand=True)
#pop_df["County_Num"] = pop_df["State_Num"] + pop_df["County_Num"]
#pop_df = pop_df.sort_values(["County"], ascending=True

ValueError: If using all scalar values, you must pass an index

In [8]:
capitals_df = pd.read_json("C:/Users/19739/Desktop/New folder/Project_2/countries.json")
capitals_df

,country,capital,type,_id
0,Abkhazia,Sukhumi,countryCapital,7b45e9950a03bd78fef5b2eb0626e06c
1,Afghanistan,Kabul,countryCapital,7b45e9950a03bd78fef5b2eb0626e6be
2,Akrotiri and Dhekelia,Episkopi Cantonment,countryCapital,7b45e9950a03bd78fef5b2eb0626f280
3,Albania,Tirana,countryCapital,7b45e9950a03bd78fef5b2eb0626f359
4,Algeria,Algiers,countryCapital,7b45e9950a03bd78fef5b2eb0626f8d7
...,...,...,...,...
243,Wallis and Futuna,Mata-Utu,countryCapital,7b45e9950a03bd78fef5b2eb062e9554
244,Western Sahara,El Aaiún,countryCapital,7b45e9950a03bd78fef5b2eb062ea1c7
245,Yemen,Sanaá,countryCapital,7b45e9950a03bd78fef5b2eb062ea318
246,Zambia,Lusaka,countryCapital,7b45e9950a03bd78fef5b2eb062ea617
247,Zimbabwe,Harare,countryCapital,7b45e9950a03bd78fef5b2eb062ea7a7

In [9]:
cleaned_capitals_df = capitals_df.drop(columns=['type', '_id',])
alpha_capitals_df = cleaned_capitals_df.sort_values(by='country')
final_capitals_df = alpha_capitals_df.set_index('country')
#final_capitals_df
final_capitals_df.to_csv('C:/Users/19739/Desktop/New folder/Project_2/exported/capitals.csv')

In [88]:
#frames = [alpha_capitals_df, alpha_countries_df]

#merged_df = pd.concat(frames)
#merged_df

In [21]:


final_countries_df.merge(final_capitals_df,how='left', on='country', right_index=True, left_index=False)




#pd.merge(df1, df2, left_index=True, right_index=True)



# pd.concat([df1, df2], axis=1)

                           Value exported in 2020 (USD thousand) capital
country
   Nepal                                                  966600     NaN
  Switzerland                                        314,145,207     NaN
 Afghanistan                                             1266174     NaN
 Albania                                                 2728415     NaN
 Algeria                                              34,746,213     NaN
...                                                          ...     ...
 Wallis and Futuna Islands                                  2053     NaN
 Western Sahara                                             2986     NaN
 Yemen                                                   1453207     NaN
 Zambia                                                  6962507     NaN
 Zimbabwe                                                4279384     NaN

[225 rows x 2 columns]